@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Domine');

* {
	padding: 0;
	margin: 0;
}

#wrapper {
	margin: auto;
}

h1, h2, h3 {
	font-family: Monserrat, Arial, sans-serif;
	margin: auto;
	text-align: center;
	width: 480px;
}

h1 {
	font-size: 120px;
	padding: 300px 0;
}

h2 {
	font-size: 80px;
	padding: 80px 0;
}

h3 {
	padding: 40px 0;}


body {
	font-size: 20px;
	font-family: Domine, Georgia, serif;
	margin: auto;
}

p {
	width: 30em;
	line-height: 145%;
	padding-bottom: 1em;
	margin: auto;
}

a {
	text-decoration: none;
	color: #000;
	padding: 15px 20px;
	margin: 0px 20px
}

nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}



section#heading {
	background-color: #FFE2B8;
}

section#the_game {
	background-color: #FFE2B8;
}

section#how_play {
	background-color: #FFE2B8;
}

section#partners_players {
	background-color: #FFE2B8;
}

section#download {
	background-color: #FFE2B8;
}

footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

#apple_logo {
	padding: 20px;
	margin: 40px;
}



