@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Domine');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 20px;
	font-family: Domine, Georgia, serif;
}
#wrapper {
	/* width: 60em; */
	margin: auto;
}


h1, h2, h3 {
	font-family: Monserrat, Arial, sans-serif;
	text-align: center;
}

h1 {
	font-size: 120px;
	padding: 300px 0;
}

h2 {
	font-size: 80px;
	padding: 80px 0;
}

h3 {
	padding: 0 0 40px;
}
p {
	width: 30em;
	line-height: 145%;
	margin: 0 auto 5em;
}

header {
	background-color: #FFE081;
}

nav {
	text-align: center;
	padding: 15px 20px;
	margin: 0px 20px;
}

nav a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 20px;
}

nav a:hover {
	background-color: #aaaaaa;
}

#heading {
	background-color: #FFC581;
}

article	{
	float: left;
	background-color: inherit;
	width: 25%;
	/* min-height: 18em; */
	/* border: 5px solid black; */
	padding: 2em 2em;
}
article p {
	width: 100%;
}
#the_game {
	background-color: #E86B88;
}
#the_game article {
	width:33.33%;
}
#how_play {
	background-color: #A682FF;
}

#partners_players {
	background-color: #6BD1E8;
}

#download {
	background-color: #83FF86;
}

footer {
	background-color: #FFE081;
	text-align: center;
	padding: 20px;
}

.clearfix:after, #wrapper>section:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
/*#apple_logo {
	padding: 20px;
	margin: 40px;
	float: left;
}

#android_logo {
	padding: 20px;
	margin: 40px;
	float: left;
}*/


