h1 {
	color: rgb(0,0,0);
}

body {
	color: rgb(250,250,250);
	text-align: center;
	font-family: "Helvetica", sans-serif;
	background-image: url('images/empty_bookshelf.jpg');
}

.button {
	color: rgb(0,0,0);
	font-style: bold;
}

ul {
	text-align: center;
	list-style-type: none;
}