@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Domine');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 20px;
	font-family: Domine, Georgia, serif;
}
#wrapper {
	margin: auto;
}

h1, h2, h3 {
	font-family: Monserrat, Arial, sans-serif;
	text-align: center;
}
h1 {
	font-size: 6em;
	padding: 3em 0;
}
h2 {
	font-size: 4em;
	padding: 0 0 1em 0;
}
h3 {
	padding: 2em 0;
}
p {
	width: 75%;
	line-height: 135%;
	margin: 0 auto 1em;
	text-align: center;
}
header {
	background-color: #FFE081;
}
nav {
	text-align: center;
	padding: .8em 1em;
	margin: 0 1em;
}
nav a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 1em;
}
nav a:hover {
	background-color: #cccccc;
}

#heading {
	background-color: #FFC581;
}
div {
	background-color: inherit;
	margin: auto;
}

.four_button p {
	width: 100%;
	font-size: 0.75em
}
.two_button p {
	width: 100%;
	font-size: 0.75em
}

#the_game {
	background-color: #E86B88;
	padding: 5em 0;
}
#the_game div {
	width: 50%;
}
#how_play {
	background-color: #A682FF;
	padding: 5em 0;
}
#how_play div {
	width: 50%;
}
#partners_players {
	background-color: #6BD1E8;
	padding: 5em 0;
}
#partners_players div {
	width: 50%;
}
#download {
	background-color: #83FF86;
	padding: 4em 0;
	margin: auto;
	text-align: center;
}
#download div {
	width: 70%;
	margin: auto;
}
#download img {
	/*display: block;	
	float: left;*/
	margin: 0 3em;
}

footer {
	background-color: #FFE081;
	text-align: center;
	padding: 1em;
}

footer a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 1em;
}


.clearfix:after, #wrapper>section:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}


@media only screen and (max-width: 925px) {
	nav a {
		float: none;
		display: block;
	}
}

@media only screen and (max-width: 880px) {
	body {
		font-size: 16px;
	}
}
