@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Domine');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 20px;
	font-family: Domine, Georgia, serif;
}
#wrapper {
	margin: auto;
	background-color: white;
}

h1, h2, h3 {
	font-family: Monserrat, Arial, sans-serif;
	text-align: center;
}
h1 {
	font-size: 6em;
	padding: 2em 0;
}
h2 {
	font-size: 4em;
	padding: 1em 0;
}
h3 {
	padding: 0 0 2em;
}
p {
	width: 50%;
	line-height: 145%;
	margin: 0 auto 3em;
	text-align: center;
}
header {
	background-color: #FFE081;
}
nav {
	text-align: center;
	padding: .8em 1em;
	margin: 0 1em;
}
nav a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 1em;
}
nav a:hover {
	background-color: #cccccc;
}

#heading {
	background-color: #FFC581;
}
div {
	float: left;
	background-color: inherit;
	padding: 2em 2em;
}
div:hover {
	background-color: #cccccc;
}



.four_button p {
	width: 100%;
}
.three_button p {
	width: 100%;
}
#the_game {
	background-color: #E86B88;
}
#the_game div {
	width:33.3333%;
}
#how_play {
	background-color: #A682FF;
}
#how_play div {
	width: 25%;
}
#partners_players {
	background-color: #6BD1E8;
}
#partners_players div {
	width: 25%;
}

#download {
	background-color: #83FF86;
	margin: auto;
}
#download div {
	width: 25%;
}
#download img {
	display: block;	
}

footer {
	background-color: #FFE081;
	text-align: center;
	padding: 1em;
}


.clearfix:after, #wrapper>section:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

@media only screen and (max-width: 1000px) {
	.four_button p {
		display: none;
	}
	.three_button p {
		display: none;
	}
}

@media only screen and (max-width: 925px) {
	.four_button p {
		display: none;
	}
	.three_button p {
		display: none;
	}
	nav a {
		float: none;
		display: block;
	}
}

@media only screen and (max-width: 880px) {
	.four_button {
		display: none;
	}
	.three_button {
		display: none;
	}
	nav a {
		float: none;
		display: block;
	}
	body {
		font-size: 16px;
	}
}
