 @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Domine');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 20px;
	font-family: Domine, Georgia, serif;
}
#wrapper {
	margin: auto;
	background-color: white;
}

h1, h2, h3 {
	font-family: Monserrat, Arial, sans-serif;
	text-align: center;
}
h1 {
	font-size: 120px;
	padding: 300px 0;
}
h2 {
	font-size: 80px;
	padding: 80px 0;
}
h3 {
	padding: 0 0 40px;
}
p {
	width: 50%;
	line-height: 145%;
	margin: 0 auto 3em;
	text-align: center;
}
header {
	background-color: #FFE081;
}
nav {
	text-align: center;
	padding: 15px 20px;
	margin: 0px 20px;
}
nav a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 20px;
}
nav a:hover {
	background-color: #cccccc;
}

#heading {
	background-color: #FFC581;
}
div {
	float: left;
	background-color: inherit;
	padding: 2em 2em;
	min-height: 16em;
}
div:hover {
	background-color: #cccccc;
}



.four_button p {
	width: 100%;
}
.three_button p {
	width: 100%;
}
#the_game {
	background-color: #E86B88;
}
#the_game div {
	width:33.33%;
}
#how_play {
	background-color: #A682FF;
}
#how_play div {
	width: 25%;
}
#partners_players {
	background-color: #6BD1E8;
}
#partners_players div {
	width: 25%;
}

#download {
	background-color: #83FF86;
	wi
	margin: auto;
}
#download div {
	width: 25%;
}
#download img {
	display:block;
	margin: auto;
}

footer {
	background-color: #FFE081;
	text-align: center;
	padding: 20px;
}


.clearfix:after, #wrapper>section:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}


